<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600">
  <link rel="stylesheet" href="/static/css/login.css">
  <script type="module" src="/static/js/login.js" defer></script>
</head>
<body>

  <!-- Your existing navbar code -->

  <!-- Main Content -->
  <div class="container">
    <h1 class="text-center mt-5">Login</h1>
    <form method="POST">
      <div class="input-box">
        <label for="email"></label>
        <input type="email" placeholder="Email"  class="form-control" id="email" name="email" required>
        <i class='bx bxs-envelope' ></i>
      </div>
      <div class="input-box">
        <label for="password"></label>
        <input type="password" placeholder="Password" class="form-control" id="password" name="password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <button type="submit" class="btn" id="login">Login</button>
      <div class="login-link">
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Click here!</a></p></div>
        <button type="submit" id="google-button" class="btn">Continue with Google!</button>
    </form>
 </div>

  <!-- Bootstrap JS -->
</body>
</html>